@model EntityLayer.Concrete.TraningType

@{
    ViewBag.Title = "Add TraningType PAGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style>
        body {
            background-color: #ccc;
            background-image: url(../../src/logo.jpg);
            background-size: 400px 00px;
            height: auto;
            width: auto;
        }



        div::after {
            content: "";
            background: url(../../src/logo.jpg);
            opacity: 0.05;
            height: auto;
            width: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>

        </div>

    </form>
</body>
</html>



<h2>Add TraningType PAGE</h2>
<br />

@using (Html.BeginForm("AddTraningType", "TraningType", FormMethod.Post))

{
    <div class="form-group">



        @Html.Label("Enter the type of job: ")
        @Html.TextBoxFor(model => model.TraningTypee, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TraningTypee)
        
        <br />
        <button class="alert-danger" style="width:100px;height:30px">Save</button>

    </div>
}