
@{
    ViewBag.Title = "Entry PAGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style>
        body {
            background-color: #ccc;
            background-image: url(../../src/logo.jpg);
            background-size: 400px 00px;
            height: auto;
            width: auto;
        }



        div::after {
            content: "";
            background: url(../../src/logo.jpg);
            opacity: 0.05;
            height: auto;
            width: auto;
                
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
           
        </div>

    </form>
</body>
</html>


<h3>
    ELDOR GROUP 2021-Summer Internship Web Application Project; It is an application that allows the job descriptions of the teammates within the Eldor Group and the work done to be recorded.
</h3>
<h3>
    To Mr. Ender YURDAKOÇ and Mr. Ceren KİYMAZ, who did not spare their support while developing this application; I would like to express
    my gratitude and respect to ELDOR GROUP,
    where I learned a lot during my internship and had the opportunity to improve myself, due to my acceptance to the internship program.
</h3>
<h1>KARALİ Enes</h1>
<br />
<a href="/UserData/GetUserDataList" class="btn btn-danger">For table</a>